.banner {
    display: flex;
    background-color: darkgray;
    border-bottom: 1px solid black;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.banner-logo {
    width: 100px;
    height: auto;
    margin: 10px;
}

.banner-text {
    font-size: 36px;
    font-weight: bold;
}

.img-scale {
    width: 60px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.dropbtn {
    background-color:  darkgray;
    cursor: pointer;
    padding: 0;
    border : none;
}

.dropdown {
    margin-left: auto;
    padding: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #363636;}